
.section1{
    display: flex;
    justify-content: space-evenly;
    padding: 4vh 0 0 0;
}
.project_img{
    height: 40vh;
    width: auto;
    
}
.img_in{
    width: auto;
}
.img_box{
    width: auto;
}
.img_out{
    width: auto;
}
.section2{
    margin: 0 !important;
   display: flex;
   justify-content: space-evenly;
   gap: 5vh;
   padding: 5vh 0 5vh 0;
   width: 100%;
}

