  .container{
    padding: 0 !important;
    margin: 0 !important;
    max-width: 100% !important;
  }
  .head{
    background-color: rgba(0, 0, 0, 0.491);
    min-height: 10vh;
    align-items: center;
    display: flex;
    justify-content: center;
    transition:  background-color 0.4s ease-in-out;
    margin: 0 !important;
    gap: 1vh;
}
.head:hover{
    background-color: rgba(0, 0, 0, 0.624);
}
.hlink{
    text-decoration: none;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    font-weight: 500;
    padding-bottom: 1vh;
    font-family: "Trebuchet MS", sans-serif;
    transition: font-size 1.5s ease-in-out;
    transition: font-weight 0.1s ease-in-out;
    
}
.hlink:hover{
    font-size: 2em;
    font-weight: 700;
}
.i{
    display: flex;
}
.header{
    
}

@media (max-width:480px) {
    .header{
        display: none;
        visibility: hidden !important;
    }
}